<h1>App works!</h1>
<nav>
  <img src="https://rb.gy/kop0yn">
  <ul>
    <li><a routerLink="bolg">Bolg</a></li>
    <li><a routerLink="about">About</a></li>
    <li><a routerLink="home">Home</a></li>
    <li><a routerLink="project">Project</a></li>
    <li><a routerLink="login">Login</a></li>
    <li><a routerLink="logout">Logout</a></li>
    <li><a routerLink="service">Service</a></li>
    <li><a routerLink="contact">Contact</a></li>
    <li><a routerLink="details">Details</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
<app-invoice></app-invoice>