<div class="invoice">
    <div class="row">
        <div class="col"><img src=""></div>
        <div class="col" id="col1">
            <h5>Customer Name </h5>
            <p><b>Mobile :</b> +1 12345-4569</p>
            <p><b>Email :</b> customer@gmail.com</p>
            <p><b>Address :</b> New York, USA</p>
        </div>
    </div>
    <div class="row" id="col2">
        <h4>Customer Name</h4>
        <h5>Mobile : +919370107329</h5>
        <h5>Email : krish@gmail.com</h5>
        <h5>Address : murtizapur</h5>
       <div class="col"></div>" id="col3">
        <h3> INVOICE # 1</h3>
       </div>
    </div>
    <div class="row">
       <div class="col" id="col4">
        <h2>Description</h2></div>
        <div class="col" id="col5">
            <h2>Amount</h2></div>
    </div>
    <div class="row">
        <div class="col" id="col6">
         <h3>Payment Of Octomber 2023</h3></div>
         <div class="col" id="col7">
             <h3>3500/-</h3></div>
     </div>
     <div class="row">
        <div class="col" id="col6">
         <h3>Payment Of November 2023</h3></div>
         <div class="col" id="col7">
             <h3>3500/-</h3></div>
     </div>
     <div class="row">
        <div class="col" id="col6">
         <h3>Payment Of December 2023</h3></div>
         <div class="col" id="col7">
             <h3>3500/-</h3></div>
     </div>
</div>    